/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 10px 0 0;
}

main {
  padding: 20px;
}

.marquee-section {
  margin-bottom: 40px;
}

.marquee-section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #444;
}

/* Marquee Styles */
.marquee {
  display: flex;
  overflow: hidden; /* Hide any overflow */
  white-space: nowrap;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.marquee__item {
  flex: 0 0 auto;
  width: 450px; /* Ensure the images are 450px wide */
  margin-right: 10px; /* Space between images */
  transition: transform 0.3s;
}

.marquee__item:hover {
  transform: scale(1.1);
}

.marquee--8 {
  animation: marquee 40s linear infinite; /* Adjusted duration to accommodate wider images */
}

.marquee--6 {
  animation: marquee 30s linear infinite; /* Adjusted duration for the second set */
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}
